header{
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: blue;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: blue;
    margin-top: 20px;
    padding: 10px;
}

body {
    background-color: gray;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgb(44, 44, 44);
}

a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}