h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 70px;
    text-transform: uppercase;
}
h2 {
    color: #006EB6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 30px;

}

img {
   width: 150px;
}

footer{
    display: flex;
    justify-content: center;
}

div{
    outline: 1px solid #6e6d6d;
    margin: 100px;
    padding: 10px;
    
        
}

.container {
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    text-align: left;
    }


li{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}

main{
    width: 600px
    
}

main{
    padding-bottom: 55px;
    
}

p{
    margin-bottom: 55px
}

.dark{
    background-color: #333;
    color: #fff;
}

.subtitle{
   color:#006EB6
}

.dark .subtitle{
    color: #48A9E6;
}